@{
  HtmlAttributes.Add("data-allowed-origins", ConfigurationService.AllowedOrigins);
  HtmlAttributes.Add("data-theme-prefix", ConfigurationService.ThemePrefix);
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pong</title>
  <script src="~/js/asap.js" asp-append-version="true"></script>
</head>
<body>
  <script>
    wvy.postal.postToParent({ name: "user-status", id: @WeavyContext.Current.User.Id });
  </script>
  pong
</body>
</html>





