/// <reference path="../core" />
@mixin fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

@mixin fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
}

@mixin sticky-top {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}

@mixin sticky-bottom {
  @supports (position: sticky) {
    position: sticky;
    bottom: 0;
    z-index: $zindex-sticky;
  }
}

// Shorthand

.fixed-top {
  @include fixed-top;
}

.fixed-bottom {
  @include fixed-bottom;
}

.sticky-top {
  @include sticky-top;
}

.sticky-bottom {
  @include sticky-bottom;
}
