@model PostSearchResult

@foreach (var post in Model) {
  <partial name="~/Areas/Dropin/Views/Post/_Post.cshtml" model="post" />
}

@if (Model.HasNextPage) {
  <div class="wy-pager" data-pagination-target="pager" data-next="@Url.NextPage(Model)">@Svg.Spinner(spin: true)</div>
}
