@model Posts
@{
  HtmlAttributes.Add("data-allowed-origins", ConfigurationService.AllowedOrigins);
  BodyAttributes.Add("data-app-uid", Model.Eid());
  BodyAttributes.Add("data-app-id", Model.Id.ToString());
  BodyAttributes.Add("data-user-id", WeavyContext.Current.User.Id.ToString());
}
<!DOCTYPE html>
<html data-controller="post authenticate presence" class="wy-scroll-y">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="turbo-cache-control" content="no-cache">
  <title>@Model.DisplayName</title>
  <link rel="apple-touch-icon" href="@Url.AppleTouchIcon(180)" />
  <link rel="icon" type="image/svg+xml" href="@Url.Favicon()" />
  <link rel="icon" type="image/png" href="@Url.Favicon(32, ".png")" />
  <link rel="stylesheet" href="~/css/posts.css" asp-append-version="true" data-turbo-track="reload" />
  <script src="~/js/asap.js" asp-append-version="true" data-turbo-track="reload"></script>
  <script src="~/js/posts.js" asp-append-version="true" data-turbo-track="reload" async></script>
</head>
<body>
  <partial name="_PostForm" model="new MessageModel{Parent = Model}"/>
  <div id="posts" data-controller="pagination">
    <partial name="_PostPlaceholder" />
    <partial name="_Posts" model="Model.Items" />
  </div>
  <turbo-frame id="sheet"></turbo-frame>
</body>
</html>

