@model IEnumerable<Blob>
@foreach (var blob in Model) {
    <div class="wy-picker-list-item">
        <icon name="@FileUtils.GetIcon(blob)" />
        <div class="wy-picker-list-item-title">@blob.Name</div>
        <input type="hidden" name="blobs" value="@blob.Id" />
        <button type="button" class="wy-button wy-button-icon" data-action="attachments#remove" data-attachments-id-param="@blob.Id"><icon name="close-circle" /></button>
    </div>
}


