@model Message
@if (Model.CreatedById != WeavyContext.Current.User.Id){
  <turbo-frame id="message_toast" data-controller="message-toast" data-message-toast-id-value="@DomId("_Message", Model)" data-message-toast-message-id-value="@Model.Id" hidden>
    <div>@T["New messages"]</div>
  </turbo-frame>
}
