@model Conversation

<div class="wy-message wy-message-me" data-message-target="placeholder" data-id="@DomId(Model)" hidden>
  <div class="wy-message-content">    
    <div class="wy-message-meta"><time class="wy-placeholder" datetime="@DateTime.Now" /></div>
    <div class="wy-message-bubble">
      <div class="wy-content">
        <span class="wy-placeholder">Lorem</span> <span class="wy-placeholder">ipsum</span> <span class="wy-placeholder">dolor</span> <span class="wy-placeholder">sit</span> <span class="wy-placeholder">amet.</span>
      </div>
    </div>
    
  </div>
</div>
<div class="wy-readby-status"></div>

