@model PagedList<Message>
@{
  ViewData["IsInitialLoad"] = true;

  var wy = ConfigurationService.ThemePrefix;
}
@if (Model.HasNextPage) {
  <a class="@wy-pager" data-pagination-target="pager" data-next="@Url.NextPage(Model)">@Svg.Spinner(spin: true, prefix: wy)</a>
}
@foreach (var messagesGroupedByDate in Model.GroupBy(x => x.CreatedAt.ToLocal().Date)) {
  <div class="@wy-date-separator"><time>@messagesGroupedByDate.Key.ToShortDateString()</time></div>
  foreach (var message in messagesGroupedByDate) {
    <partial name="_Message" model="message" />
  }
}
