@model IReactable
@{
  var wy = ConfigurationService.ThemePrefix;
}

<turbo-frame id="modal">
    <div class="modal fade" tabindex="-1" aria-hidden="true" data-controller="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    <h5 class="modal-title">@T["Reactions"]</h5>
                    <button type="button" class="@wy-button @wy-button-icon" data-bs-dismiss="modal"><icon name="close" /></button>
                </div>
                <div class="modal-body">

                  <table class="@wy-table-reactions">
                    @foreach (var reaction in Model.Reactions) {
                      var creator = reaction.CreatedBy();
                        <tr>
                          <td><avatar for="@creator" size="32" /></td>
                          <td>@creator.GetDisplayName()</td>
                          <td><emoji name="@reaction.Content" /></td>
                        </tr>
                    }
                    </table>
                </div>
            </div>
        </div>
    </div>
</turbo-frame>
