@model IReactable

<div class="wy-dropdown dropup">
  <button type="button" class="wy-button wy-button-icon" data-bs-toggle="dropdown" title="Reactions"><icon name="emoticon-plus" size="20" /></button>
  <div class="wy-reaction-menu wy-dropdown-menu dropdown-menu">
    <turbo-frame id="@DomId("_ReactionForm", Model)" src="@Url.Action(nameof(EntityController.ReactionForm), typeof(EntityController).ControllerName(), new { id = Model.Uid()} )" loading="lazy">
      @* render placeholder with same size as final result (replaced when turbo-frame loads) *@
      <div class="wy-reaction-picker">
        @foreach (var emoji in ConfigurationService.Reactions) {
          <button type="submit" class="wy-button wy-button-icon">
            <div class="wy-emoji rounded-circle bg-light"></div>
          </button>
        }
      </div>
    </turbo-frame>
  </div>
</div>


