@model IReactable

<turbo-frame id="sheet">
  <div class="wy-sheet" data-controller="sheet" hidden>
    <div class="wy-appbar">
      <div></div>
      <div class="wy-appbar-text">@T["Reactions"]</div>
      <div class="wy-appbar-buttons">
        <button type="button" class="wy-button wy-button-icon" data-action="click->sheet#close"><icon name="close" /></button>
      </div>
    </div>
    <div class="wy-sheet-body wy-scroll-y">
        @foreach (var reaction in Model.Reactions) {
          var creator = reaction.CreatedBy();
          <div class="wy-item">
            <avatar for="@creator" size="32" />
            <div class="wy-item-body">@creator.DisplayName</div>
            <emoji name="@reaction.Content" />
          </div>
        }
    </div>
  </div>
</turbo-frame>
