@model List<File>

@foreach (var file in Model) {
  <div class="wy-upload-progress-item" data-files-target="uploadSuccess">
    <div class="wy-upload-progress-success">
      <span class="wy-upload-progress-item-content">@file.Name</span><icon name="check" />    
    </div>    
  </div>
}
