@model FileUploadErrorModel

<div class="wy-dropdown-item wy-upload-error" data-files-target="uploadError">
  <span class="wy-upload-error-title">@Model.Name</span>
  <div class="wy-upload-error-text">
    @Model.Message    
  </div>
  <div class="wy-upload-error-actions">
    <button class="wy-button wy-button-primary" data-action="click->files#skip">@T["OK"]</button>
  </div>
</div>

