@model File

@if (Context.Request.IsTurboFrame() && Action == nameof(FileController.Comments)) {
  // render turbo-frame with comments
  <turbo-frame id="@DomId(Model)" class="wy-pane-body">
    <div class="wy-comments">
      @foreach (var comment in Model.Comments) {
        <partial name="_Comment" model="comment" />
      }
      <partial name="_CommentPlaceholder" />
    </div>
    <div class="wy-comment-editor-bottom">
      <partial name="_CommentForm" model="new MessageModel { Parent = Model } " />
    </div>
  </turbo-frame>
} else {
// render turbo-frame that is lazy-loaded when visible (when the comments sidebar is displayed)
  <turbo-frame class="wy-pane-body" id="@DomId(Model)" data-controller="comment" src="@Url.Action(nameof(FileController.Comments), typeof(FileController).ControllerName(), new { id = Model.Id })" loading="lazy">
      @Svg.Spinner(spin: true)
  </turbo-frame>
}
