@model Post

@if (Context.Request.IsTurboFrame() && Action == nameof(PostController.Comments)) {
  // render turbo-frame with comments
  <turbo-frame id="@DomId(Model)">
    <div class="wy-comments">
      @foreach (var comment in Model.Comments) {
        <partial name="_Comment" model="comment" />
      }
      <partial name="_CommentPlaceholder" />
    </div>
    <partial name="_CommentForm" model="new MessageModel { Parent = Model }" />
  </turbo-frame>
} else {
  // render turbo-frame that is lazy-loaded when visible (when the hidden attribute is removed)
  <turbo-frame id="@DomId(Model)" data-post-target="comments" loading="lazy" src="@Url.Action(nameof(PostController.Comments), typeof(PostController).ControllerName(), new { id = Model.Id })" hidden>
    <div class="wy-pager">
      @Svg.Spinner(spin: true)
    </div>
  </turbo-frame>
}

