@model UserSearchResult
@{
  var selected = ViewData["Selected"] as IEnumerable<User>;
}

<turbo-frame id="searchresult">

  <table class="table table-icons" data-controller="checkbox" >
    @if (selected != null) {
      @foreach (var user in selected) {
        <tr class="table-checkbox" data-action="click->checkbox#toggle">
          <td class="table-icon"><avatar for="user" presence="true" /></td>
          <td>@user.GetTitle()</td>
          <td class="table-icon">
            <input type="checkbox" class="btn-check" id="chk-@user.Id" name="users" value="@user.Id" autocomplete="off" data-action="click->checkbox#click change->form#enable" checked />
            <label class="btn btn-icon" for="chk-@user.Id"><icon name="checkbox-blank-outline" /><icon name="checkbox-marked-outline" /></label>
          </td>
        </tr>
      }
    }

    @if (Model != null) {
      @foreach (var user in Model) {
        if (selected != null && selected.Any(x => x.Id == user.Id)) {
          continue;
        }

        <tr class="table-checkbox" data-action="click->checkbox#toggle">
          <td class="table-icon"><avatar for="user" presence="true" /></td>
          <td>@user.GetTitle()</td>
          <td class="table-icon">
            <input type="checkbox" class="btn-check" id="chk-@user.Id" name="users" value="@user.Id" autocomplete="off" data-action="click->checkbox#click change->form#enable"  />
            <label class="btn btn-icon" for="chk-@user.Id"><icon name="checkbox-blank-outline" /><icon name="checkbox-marked-outline" /></label>
          </td>
        </tr>
      }
    }
  </table>
</turbo-frame>
