@model UserSearchResult
@{
  var selected = ViewData["Selected"] as IEnumerable<User>;
  var wy = ConfigurationService.ThemePrefix;
}
<turbo-frame id="searchresult" class="@wy-search-result">

  <table class="@wy-search-result-table" data-controller="checkbox" >
    @if (selected != null) {
      @foreach (var user in selected) {
        <tr class="@wy-search-result-table-checkbox" data-action="click->checkbox#toggle">
          <td><avatar for="user" presence="true" size="32" /></td>
          <td>@user.GetDisplayName()</td>
          <td>
            <input type="checkbox" class="@wy-button-check" id="chk-@user.Id" name="users" value="@user.Id" autocomplete="off" data-action="click->checkbox#click change->form#enable" checked />
            <label class="@wy-button @wy-button-icon" for="chk-@user.Id"><icon name="checkbox-blank-outline" /><icon name="checkbox-marked-outline" /></label>
          </td>
        </tr>
      }
    }

    @if (Model != null) {
      @foreach (var user in Model) {
        if (selected != null && selected.Any(x => x.Id == user.Id)) {
          continue;
        }

        <tr data-action="click->checkbox#toggle">
          <td><avatar for="user" presence="true" size="32" /></td>
          <td>@user.GetDisplayName()</td>
          <td>
            <input type="checkbox" class="@wy-button-check" id="chk-@user.Id" name="users" value="@user.Id" autocomplete="off" data-action="click->checkbox#click change->form#enable"  />
            <label class="@wy-button @wy-button-icon" for="chk-@user.Id"><icon name="checkbox-blank-outline" /><icon name="checkbox-marked-outline" /></label>
          </td>
        </tr>
      }
    }
  </table>
</turbo-frame>
