@model MessageSearchResult

<div id="comments">
    @foreach (var comment in Model) {
        <partial name="_Comment" model="comment" />
    }

    @if (Model.HasNextPage) {
        <a class="pager" data-pagination-target="pager" data-next="@Url.NextPage(Model)">@Svg.Spinner(spin: true)</a>
    }
</div>
