/// <reference path="../preview" />

// Video and audio


.content-video {
  &:not(.error) {
    flex: 1 1 0;
    min-height: 0;
    width: 100%;
  }
}

.content-video, .content-audio {
  margin: auto;

  &.loading, &[data-controller~="media"] {
    &:not(.loaded) {
      visibility: hidden;
    }

    &.loaded {
      ~ .spinner {
        display: none;
      }
    }
  }

  &:focus {
    outline: none;
  }
}
