/// <reference path="core" />

.appbars {
  @include backdrop-filter {
    > .appbar {
      backdrop-filter: none;
    }
  }
}

.appbar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height;
  padding: $navbar-padding-y $navbar-padding-x;
  flex: 0 0 $navbar-height;

  @include backdrop-filter;
}

.appbar-left, .appbar-right {
  display: flex;
  flex: 1 0 2rem;

  &:not(:first-child):last-child {
    justify-content: flex-end;

    > :not(:first-child) {
      margin-left: .5rem;
    }
  }

  .badge {
    align-self: center;
  }
}

.appbar-middle {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0 .5rem;
  min-width: 0;

  &:last-child {
      margin-right: auto;
  }
}

.appbar-text {
  padding: 0;
  display: inline-block;
  @include text-truncate();
  color: inherit !important;
  user-select: none;
}

.appbar-light {
  background-color: rgba($gray-50, $opacity-backdrop);
  color: $navbar-light-color;
  border-bottom: $border-width solid rgba($gray-200, $opacity-backdrop);

  .btn-icon, .btn-link {
    &:not(.btn-color) {
      color: $navbar-light-color;

      &.active {
        color: $navbar-light-active-color;
      }

      &:hover,
      &:focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }
  }
}

.appbar-dark {
  background-color: rgba($dark, $opacity-backdrop);
  color: $navbar-dark-color;
  border-bottom: $border-width solid rgba($border-color-dark, $opacity-backdrop);

  .btn-icon, .btn-link {
    &:not(.btn-color) {
      color: $navbar-dark-color;

      &.active {
        color: $navbar-dark-active-color;
      }

      &:hover,
      &:focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }
  }
}
