/// <reference path="core" />


.dropdown-center {

  .btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $dropdown-min-width;
    padding: .25rem .25rem .25rem 1.75rem;
    border: none;
  }

  .dropdown-menu {
    &[data-bs-popper] {
      right: -$dropdown-min-width * .25;
      left: -$dropdown-min-width * .25;
    }
  }
}


.dropdown-item {
  display: flex;
  align-items: center;

  > img, .i {
    margin-right: .5rem;
    color: $icon-color;
  }

  &:active {
    > .i {
      $c: color-contrast($component-active-bg);
      color: if($c == $color-contrast-light, $icon-light-color!important, $icon-color);
    }
  }
}


.filter-menu {
  min-width: 18rem;
  padding: .5rem .75rem;
}

.sort-menu {
  .dropdown-item {
    .i {
      visibility: hidden;
    }

    &.active {
      color: $dropdown-link-color;
      @include gradient-bg(transparent);

      &:hover,
      &:focus {
        color: $dropdown-link-hover-color;
        @include gradient-bg($dropdown-link-hover-bg);
      }

      .i {
        visibility: visible;
      }
    }
  }
}


.dropdown-menu-dark {
  .dropdown-item {
    > img, .i {
      color: $icon-light-color;
    }
  }
}
