/// <reference path="core" />
#message-form {
    .attachments, .meetings {
        &:not(:empty) {
            border-top: $border-width solid $border-color;
        }

        border-radius: 0;
    }
}

.attachment, .meeting {
    display: flex;
    align-items: center;

    > .i {
        margin-left: .25rem;
        margin-right: .25rem;
    }

    > div {
        flex-grow: 1;
    }

    > button {
        margin-block-start: auto;
    }
}


.ͼ1 .cm-scroller {
    font-family: unset;
    line-height: 1.25;
}

.cm-editor {
  outline: $gray-400 solid 1px;
  max-height: 10.2rem;
  border-radius: $input-border-radius;

  &.cm-focused {
    /* default theme in codemirror seems difficult to override */
    outline: $gray-400 solid 1px !important;
  }

  .cm-content {
    font-family: $font-family-base;
    font-size: $font-size-base;
    padding: $input-padding-y $input-padding-x;
  }

  .cm-scroller {
    overflow: auto;

    html.scrollbars & {
      @include custom-scrollbar;
    }
  }
}

textarea.is-invalid + [data-editor-target] .cm-editor {
  padding-right: $input-height-inner;
  background-image: escape-svg($form-feedback-icon-invalid);
  background-repeat: no-repeat;
  background-position: right $input-height-inner-quarter top $input-height-inner-quarter;
  background-size: $input-height-inner-half $input-height-inner-half;
  outline-color: $form-feedback-invalid-color !important;
}
