/// <reference path="core" />

.nav-tabs {
  border-bottom: none;
  padding: 0 .5rem;

  .nav-link {
    margin-bottom: 0;
    border: none;
    border-bottom: .125rem solid transparent;
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    letter-spacing: .05em;

    &:hover,
    &:focus {
      border-color: transparent;
    }

    &.disabled {
      background-color: transparent;
      border-color: transparent;
    }

    &.active {
      color: $link-color;
      background-color: transparent;
      border-color: $link-color;
    }
  }
}


.nav-dark {

  .nav-link, .btn-link {
    color: $navbar-dark-color;

    &.active {
      color: $navbar-dark-active-color;
      border-color: $navbar-dark-active-color;
    }

    &:hover,
    &:focus {
      color: $navbar-dark-hover-color;
    }

    &.disabled {
      color: $navbar-dark-disabled-color;
    }
  }
}
