@use "sass:map";

// dropin 
@use "reboot";

// theme
@use "theme/base/vars";
@use "theme/buttons";
@use "theme/type";

// additional styling for the page
html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
}


.wy-header {
  text-align: center;
  margin: 3rem .75rem;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}
