// custom components
@use "../node_modules/@weavy/themes/scss/default/fonts";
@use "../node_modules/@weavy/themes/scss/default/components/scrollbars";
@use "../node_modules/@weavy/themes/scss/default/components/avatar";
@use "../node_modules/@weavy/themes/scss/default/components/emoji";
@use "../node_modules/@weavy/themes/scss/default/components/icons";
@use "../node_modules/@weavy/themes/scss/default/components/pager";
@use "../node_modules/@weavy/themes/scss/default/components/spinner";
@use "../node_modules/@weavy/themes/scss/default/components/turbo";

// core bootstrap functionality and custom variables
@use "../node_modules/@weavy/themes/scss/default/bootstrap" as *;
@use "../node_modules/@weavy/themes/scss/default/bootstrap/legacy/root";
@use "../node_modules/@weavy/themes/scss/default/bootstrap/legacy/reboot" as *;

@use "../node_modules/@weavy/themes/scss/default/bootstrap/legacy/buttons";
@use "../node_modules/@weavy/themes/scss/default/bootstrap/legacy/dropdown";

// optional bootstrap components
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/alert";

// THE FOLLOWING TWO SHOULD BE AVOIDED IN PRODUCTION, SINCE THEY ARE NON-SEMANTIC
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";


.notification {
  align-items: flex-start;
  display: flex;

  &.read {
    .avatar, .notification-body {
      opacity: .55;
    }
  }
}

.notification-body {
  flex-grow: 1;

  > p {
    margin: 0;
  }
}

.notification-icons {
  align-items: flex-start;
  display: flex;
  margin-top: -.125rem;
}
