// weavy reboot
@use "theme/root" as *;
@use "theme/reboot";

// use weavy ui components 
@use "theme/appbar";
@use "theme/avatar";
@use "theme/buttons";
@use "theme/code";
@use "theme/icons";
@use "theme/preview";
@use "theme/preview-code";
@use "theme/preview-embed";
@use "theme/preview-html";
@use "theme/preview-icon";
@use "theme/preview-image";
@use "theme/preview-media";
@use "theme/preview-pdf";
@use "theme/preview-text";
@use "theme/scroll";
@use "theme/spinner";

// additional styling for the preview window/overlay
html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $font-family-base;
}

