@{
  Layout = "_Layout";
  Title = "Colors";

  var theme = new string[] { "primary", "secondary", "success", "danger", "warning", "info", "light", "dark", "white", "black" };
  var colors = new string[] { "primary", "red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal", "green", "light-green", "lime", "yellow", "amber", "orange", "deep-orange", "gray" };
  var shades = new int[] { 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950 };

}

<div class="container py-3">


  <h2>Theme</h2>
  <p>Contrast ratio should be at least 4.5:1 (according to <a href="https://www.w3.org/WAI/WCAG20/quickref/20160105/Overview.php#visual-audio-contrast-contrast" target="_blank">WCAG 2.0 accessibility standards</a>).</p>
  <div class="row mb-3 font-monospace small">
    @foreach (var color in theme) {
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
        <div class="swatch-@color p-3 mb-2">
          <strong class="swatch-var">$@color</strong>
          <span class="swatch-val"></span>
        </div>
      </div>
    }
  </div>

  <h2>Palette</h2>
  <div class="row mb-3 font-monospace small">
    @foreach (var color in colors) {
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
        @for (int i = 0; i < shades.Length; i++) {
          <div class="swatch-@color-@shades[i] p-3"><span class="swatch-var">$@color-@shades[i]</span></div>
        }
      </div>
    }
  </div>

</div>
